# Processamento dos dados coletados

In [1]:
import pandas as pd
import ast
import requests
from  utils.data_process_utils import *

## Carregando os datasets e extraindo a coluna products

In [2]:
data_2025 = pd.read_csv('../src/data/bronze/complains_2025.csv')
data_2023_2024 = pd.read_csv('../src/data/bronze/complains_2023_to_2024.csv')

In [3]:
df_2025 = process_products_dataframe(data_2025, "complains_2025")

In [4]:
df_2023_2024 = process_products_dataframe(data_2023_2024, "complains_2023_to_2024")

## Análise exploratória dos dados

In [5]:
df_2023_2024.isna().sum()

odiNumber                 0
manufacturer              0
crash                     0
fire                      0
numberOfInjuries          0
numberOfDeaths            0
dateOfIncident            0
dateComplaintFiled        0
vin                     229
components                0
summary                   0
type                      0
productYear               0
productMake               0
productModel              0
manufacturer              0
size                  20158
dtype: int64

### Vamos excluir a coluna size por apresentar muitos dados faltantes.

In [6]:
df_2023_2024 = df_2023_2024.drop(columns=['size'], axis=1)
df_2025 = df_2025.drop(columns=['size'], axis=1)

In [7]:
df_2023_2024.isna().sum()

odiNumber               0
manufacturer            0
crash                   0
fire                    0
numberOfInjuries        0
numberOfDeaths          0
dateOfIncident          0
dateComplaintFiled      0
vin                   229
components              0
summary                 0
type                    0
productYear             0
productMake             0
productModel            0
manufacturer            0
dtype: int64

### Vamos remover os valores faltantes para vin, pois não conseguimos preencher esses valores

In [8]:
df_2023_2024.dropna(subset=['vin'], inplace=True)
df_2025.dropna(subset=['vin'], inplace=True)

In [9]:
df_2023_2024.duplicated().sum()

np.int64(3485)

In [10]:
df_2025.duplicated().sum()

np.int64(36)

In [11]:
df_2023_2024.isna().sum()

odiNumber             0
manufacturer          0
crash                 0
fire                  0
numberOfInjuries      0
numberOfDeaths        0
dateOfIncident        0
dateComplaintFiled    0
vin                   0
components            0
summary               0
type                  0
productYear           0
productMake           0
productModel          0
manufacturer          0
dtype: int64

In [12]:
df_2025.isna().sum()

odiNumber             0
manufacturer          0
crash                 0
fire                  0
numberOfInjuries      0
numberOfDeaths        0
dateOfIncident        0
dateComplaintFiled    0
vin                   0
components            0
summary               0
type                  0
productYear           0
productMake           0
productModel          0
manufacturer          0
dtype: int64

### Removendo duplicadas e null's

In [13]:
df_2023_2024 = drop_duplicated_and_null_rows(df_2023_2024)
df_2025 = drop_duplicated_and_null_rows(df_2025)

In [14]:
df_2023_2024.duplicated().sum()

np.int64(0)

In [15]:
df_2023_2024.isna().sum()

odiNumber             0
manufacturer          0
crash                 0
fire                  0
numberOfInjuries      0
numberOfDeaths        0
dateOfIncident        0
dateComplaintFiled    0
vin                   0
components            0
summary               0
type                  0
productYear           0
productMake           0
productModel          0
manufacturer          0
dtype: int64

In [16]:
df_2023_2024.shape

(16574, 16)

In [17]:
df_2025.shape

(504, 16)